body{
    margin: 0;
    display: grid;
    grid-template: 30% 70%;
    height: 100%;
    
}

#header{
    align-content: center;
    background-color:#0084BF;
    
}


#header h1{
    padding: 40px 0 0 0;
    text-align: center;
    display: block;
    margin-top: 20px;
    
    font-size: 0.75in;
    color: #ffffff;
}



#display{
    background-color: #E2E2E2 ;
    padding-left: 200px;
    height: 400px;
}

input{
    width: 1000px;
    height: 30px;
}
button{
    color: honeydew;
    background: firebrick;
    border: none;
    height: 35px;
}
